body
{
  background-color:#FDF5F5;
  display:flex;
  flex-direction:column;
}
header{
  position:fixed;
  width:100%;
  display:grid;
  grid-template-columns:300px 1fr;
  z-index:1;
  top:0;
  left:0;
  padding-top:5px;
}
main{
  display:flex;
  flex-direction:column;
  margin:auto;
  max-width:750px;
  position:relative;
  top:40px;
  z-index:0;
}
#header-img{
  grid-column:1;
  width:100%;
  align-self:center;
}
#nav-bar{
  grid-column:2;
  align-self:center;
  justify-self:right;
  display:flex;
  margin-right:5px;
}
.nav-link{
  text-decoration:inherit;
  margin-left:20px;
  color:inherit;
}
h1
#intro{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#intro h2{
  text-align:center;
}
#form{
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-gap:10px;
}
#features{
margin-top:20px;
display:flex;
flex-direction:column;
align-items:flex-start;
}
.feature-class{
display:grid;
grid-template-columns:100px 1fr;
align-items:center;
}
.feature-img{
width:50%;
justify-self:center;
align-self:center;
margin-top:20px;
}
#video{
margin:auto;
max-width:100%;
margin-top:20px;
margin-bottom:10px;
}
#pricing{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-gap:10px;
margin-top:20px;
}
.product-section{
display:flex;
flex-direction:column;
align-items:center;
border:1px solid black;
border-radius:1px;
padding-bottom:10px;
}
.product-name{
margin-bottom:-20px;
background-color:lightgray;
}
.product-price{
font-size:25px;
font-weight:bold;
text-align:center;
}
.product-describe{
list-style:none;
}
footer{
background-color:lightgray;
margin-top:50px;
display:flex;
flex-direction:column;
align-items:flex-end;
}
#footer-nav{
display:flex;
grid-gap:2px;
}
footer p{
font-size:13px;
margin-top:5px;
}
.Select{
margin:auto;
background-color:yellow;
font-weight:bold;
height:30px;
width:100px;
border:none;
}
#email{
margin:auto;
width:200px;
height:20px;
}
@media(max-width: 450px) {
  body {
    font-size: 75%;
  }
  header {
    grid-template-columns: 210px 1fr;
  }
}
#submit{
margin:auto;
background-color:yellow;
font-weight:bold;
height:30px;
width:150px;
border:none;
margin-top:0px;
}

